body {
    font-size: 16px;
    background-color: black;
    color:white;
    padding:100px
}
/* p {
    font-size: 12px;
} */
nav a {
    flex-grow: 1;
    color:white;
    text-decoration: none;
    border:solid white 1px;
    padding:10px;
    text-align: center;
}
nav a:hover {
    background-color: white;
    color:black;
}

section a {
    color:white;
}

.zoe section {
    padding:5px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.em {
    background-image: url(../images/fluid01.jpg);
    font-size:12px;
    line-height: 2em;
    border:solid white .5em;
}
.rem {
    background-image: url(../images/fluid02.jpg);
    font-size:1.5rem;
    border:dotted .5rem orangered;
}
.percent {
    background-image: url(../images/fluid06.jpg);
    /* border:solid white 15%; percentages don't work on borders */
}
.percent p {
    width: 75%;
}
.box {
    background-image: url(../images/fluid04.jpg);
}
.vw {
    background-image: url(../images/fluid05.jpg);
    border:dashed blue 1vw;
}

.hero p {
    width:20vw;
}

.hero img {
    width: 100%;
    height: auto;
}